[submodule "submodules/flif"]
	path = submodules/flif
	url = https://github.com/FLIF-hub/FLIF.git
[submodule "submodules/apng-exporter"]
	path = submodules/apng-exporter
	url = https://github.com/SaschaNaz/apng-exporter.git
[submodule "submodules/gif-exporter"]
	path = submodules/gif-exporter
	url = https://github.com/SaschaNaz/gif-exporter.git
[submodule "picnature"]
	path = submodules/picnature
	url = https://github.com/SaschaNaz/picnature.git
[submodule "submodules/tiffjs"]
	path = submodules/tiffjs
	url = https://github.com/SaschaNaz/tiff-js.git
