@-ms-viewport {
  width: device-width;
}

html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  padding: 8px;   
  font-family: 'Segoe UI', sans-serif;
}

span {
  font-style: italic;
}

img {
  max-width: 100%;
}
